
<div id="mattermost">
  <h3>Mattermost</h3>

  <p>
    Mattermost is an instant messaging platform that allows you, your team members and course staff to communicate with each other. We expect that you comply with the following rules:
    <ul>
    	<li>Refrain from reaching course staff through private messages (DMs) unless explicitly told to do so.</li>
    	<li>In General chat you can find everyone participating in this course. Therefore, think carefully whether the message you want to share there is important to <em>everyone</em> before posting something and creating a notification for everybody.</li>
    	<li>Keep a good tone both in public and private channels and be respectful towards the other participants.</li>
    </ul>
    Upon pressing the following link, you agree to follow the aforementioned rules: <a href="https://">Join Mattermost team</a>.
    <br/>
    <em>In case the link above does not work, try logging in through <a href="https://mattermost.tudelft.nl">https://mattermost.tudelft.nl</a> with your NetID and corresponding password first and then click the link again.</em>
  </p>

</div>

